.about-back {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(63, 10, 54);
  background-color: rgb(147, 129, 150);
  width: 100%;
  padding: 50px 0;
}

.about-title {
  font-size: 38px;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem; 
  color: rgb(198, 81, 100);
  color: crimson;
}

.about {
  text-align: center;
  width: 90%;
  background-color: rgb(48, 10, 42);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
  color: white;
}

h4 {
  font-size: 26px;
  color: rgb(237, 54, 91);
}

.about-list {
  text-align: left;
  padding-left: 20px;
  margin-top: 2rem;
}

.about-list ol {
  list-style: decimal;
  margin-left: 20px;
}

.about-list ul {
  list-style: disc;
  margin-left: 70px;
  margin-top: 1rem;
}

.btn-boxx {
  margin-top: 20px;
  background: rgb(198, 81, 100);
  color: white;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
}

.about-list strong {
  font-size: 1.5rem;
  color: aqua;
  color: rgb(203, 74, 128);
  color: rgb(221, 61, 93);
  
}

.about-list li {
  text-align: left;
  padding-left: 20px;
  font-size: 1.3rem;
  width: 97%;
}
