.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../Assets//contactt.jpg);
  background-size: cover;
  color: white;
  min-height: 100vh;
  text-align: center;
}

.back {
  max-width: 70%;
  height: 25rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
  padding-bottom: 1rem;
  position: absolute;
  margin-bottom: 4.5rem;
  background-color: rgb(51, 10, 44);
}

.contact-container h2 {
  font-size: 3.2rem;
  color: rgb(51, 10, 44);
  font-weight: bold;
  margin-bottom: 39rem;
}

.sub-title {
  max-width: 90%;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  font-size: 1.5rem;
  margin: 1.5rem auto;
  line-height: 1.6;
}

.contact-left {
  margin-top: 2rem;
  text-align: center;
}

.contact-left p {
  font-size: 1.3rem;
  margin-top: 10px;
}

.contact-left p i {
  color: antiquewhite;
  margin-right: 10px;
  font-size: 25px;
}

.homme-scl {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 20px;
}

.homme-scl a {
  color: white;
  font-size: 25px;
  transition: 0.3s ease-in-out;
}

.homme-scl a:hover {
  color: #ff004f;
  font-size: 2rem;
}

span {
  color: #f8135b;
}

button {
  padding: 12px 20px;
  background-color: #ff004f;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-size: 1.3rem;
  margin-top: 2rem;
}

button:hover {
  background-color: #e60046;
}

.back:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgb(205, 198, 204);
  background-color: #260e1f;
  background-color: rgb(51, 10, 44);
}

@media (max-width: 1024px) {
  .back {
    max-width: 95%;
    padding: 1.5rem;
    margin-top: 1rem;
  }
  .sub-title {
    max-width: 90%;
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .contact-container {
    padding: 20px;
  }
  h2 {
    font-size: 2rem;
  }
  .contact-left {
    margin-top: 1.5rem;
  }
  .homme-scl a {
    font-size: 22px;
  }
  button {
    font-size: 0.9rem;
    padding: 10px 18px;
  }
  .copy-right {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .sub-title {
    font-size: 1.2rem;
    padding: 0rem;
  }

  .homme-scl {
    gap: 10px;
  }

  .homme-scl a {
    font-size: 20px;
  }

  button {
    font-size: 0.85rem;
    padding: 8px 16px;
  }

  .copy-right {
    font-size: 13px;
  }

  .contact-left p {
    font-size: 1.2rem;
    margin-top: 10px;
  }

  .contact-left {
    margin-top: 1.5rem;
  }

  .back {
    max-width: 100%;
    padding: 2rem;
    margin-top: 10rem;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 30rem;
  }

  .contact-container h2 {
    margin-top: 3rem;
  }
}
