
.exp-back {
    background-color: rgb(63, 10, 54);
    background-color: rgb(147, 129, 150);
    width: 100%;
    min-height: 100vh;
    padding: 50px 0;
}

.exp-head {
    font-size: 3rem;
    color: aqua;
    color: " rgb(63, 10, 54)";
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    padding: 2rem;
}

.experience-content {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.experience-card {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
    background-color: rgb(46, 11, 41);
}

.experience-card h3 {
    color: rgb(251, 73, 218);
    font-size: 1.8rem;
}

.experience-card p {
    font-size: 1.2rem;
    margin: 5px 0;
}

.experience-card ul {
    padding-left: 20px;
}

.experience-card li {
    font-size: 1.1rem;
    margin-bottom: 8px;
    list-style-type: disc;
}
