.exp-back {
  background: linear-gradient(to right, #f8fbff, #e0e7ff);
  padding: 80px 10%;
  min-height: 100vh;
  color: rgb(64, 18, 64);
}

.exp-head {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
  color: rgb(64, 18, 64);
}

.experience-card {
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(64, 18, 64, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: linear-gradient(to right, #f8fbff, #e0e7ff);
  color: black;
  border: 2px solid crimson;
}

.experience-card:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 25px rgba(64, 18, 64, 0.4);
}

.experience-card h3 {
  color: rgb(188, 51, 78);
  font-size: 1.8rem;
  margin-bottom: 15px;
 
}

.company-name,
.role,
.duration {
  font-size: 1.2rem;
  margin: 4px 0;
}

.key-heading {
  font-size: 1.3rem;
  font-weight: 800;
  color: rgb(188, 51, 78);
  
}


.experience-card p {
  line-height: 1.6;
  margin-bottom: 10px;
  font-size: 0.95rem;
  font-size: 1rem;
}


.experience-card ul {
  padding-left: 20px;
  margin-top: 10px;
}

.experience-card ul li {
  margin-bottom: 10px;
  font-size: 0.95rem;
  line-height: 1.5;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .exp-head {
    font-size: 2.2rem;
  }

  .experience-card {
    padding: 20px;
  }

  .experience-card h3 {
    font-size: 1.5rem;
  }
}
