.copy-right {
  text-align: center;
  font-size: 1.2rem;
  color: #121111;
  background-color: rgb(161, 156, 156);
  width: 100%;
  padding: 2rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .copy-right {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .copy-right {
    font-size: 13px;
    background-color: rgb(240, 240, 240);
    
  }
}
