
.copy-right {
  text-align: center;
  padding: 20px 0;
  font-size: 0.95rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.5px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  background: linear-gradient(to right, #f8fbff, #e0e7ff);
  border: 2px solid rgb(230, 222, 224);
  font-weight: bold;
}


.copy-right p {
  margin: 0;
  transition: color 0.3s ease;
}

.copy-right p:hover {
  color: crimson;
}

@media (max-width: 600px) {
  .copy-right {
    font-size: 0.85rem;
    padding: 15px 0;
  }
}
