* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 80px 10%;
  min-height: 100vh;
  background: linear-gradient(to right, #f8fbff, #e0e7ff);
  color: #1f2937;
  position: relative;
  overflow: hidden;
}

.home-content {
  flex: 1;
  padding-right: 40px;
}

.home-content h3 {
  font-size: 1.8rem;
  color: #4f46e5;
  margin-bottom: 0.5rem;
  color: rgb(188, 51, 78);
}

.home-content h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 0.7rem;
  color: #111827;
  color: rgb(64, 18, 64);
}

.home-content p {
  font-size: 1.1rem;
  line-height: 1.7;
  margin-top: 10px;
  color: #374151;
}

.home-scl {
  margin-top: 20px;
}

.home-scl a {
  font-size: 1.2rem;
  margin-right: 15px;
  transition: color 0.3s ease;
  color: rgb(64, 18, 64);
  color: white;
  background-color:rgb(64, 18, 64) ;
  border-radius: 50%;
  padding: 0.6rem;
}

.home-scl a:hover {
  background-color: rgb(188, 51, 78);
  color: white;
}

.btn-box {
  display: inline-block;
  margin-top: 30px;
  padding: 12px 28px;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: background 0.3s ease;
  animation-delay: 1s;
  background-color: rgb(188, 51, 78);
}

.btn-box:hover {
  background-color: rgb(146, 30, 53);
}


.home-image {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #c7d2fe;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}


@media (max-width: 992px) {
  .home {
    flex-direction: column-reverse;
    padding: 50px 5%;
    text-align: center;
  }

  .home-content {
    padding: 0;
  }


  .home-content h1 {
    font-size: 2.5rem;
  }

  .home-content h3 {
    font-size: 1.5rem;
  }

  .btn-box {
    font-size: 0.95rem;
    padding: 10px 24px;
  }
}


@media (max-width: 768px) {
  .home {
    flex-direction: column-reverse;
    padding: 50px 5%;
    text-align: center;
  }

  .home-image {
    width: 70vw;
    height: 70vw;
    max-width: 320px;
    max-height: 320px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 480px) {
  .home-image {
    width: 80vw;
    height: 80vw;
  }
}
